
h1 {
  color: #BF1F64;
}

h2 {
  color:#2015BE;
}

h3 {
  color: #E03F3D;
}

body {
  font-family:'Roboto', sans-serif;
  color: #222;
  background: #A9A7A7;
}

.name {
 color: #BF1F64;
}

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  text-align: center;
}

.pic3 {
  width: 35px;
  height: 35px;
}

.pic4 {
  width: 40px;
  height: 40px;
}

.profile-image {
  border: 3px solid #BF1F64;
  max-width:100%;
  max-height:100%;
  border-radius: 99%;
}

.ul1 {
 color: #BF1F64;
}
