h1 {
  color: #6ADD6D;
}

body {
  font-family:'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}

.resume {
  margin-left: 560px;
}

.pic1 {
  border: 5px solid #6ADD6D;
  margin-top: 25px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: 500px;
}

.pic2 {

}

.education {

}

.ul1 {

}
